<article>
  <h2>Reservas</h2>
  <% if @bookings.nil? || @bookings&.empty? %>
      <p style="color: red">Nenhuma reserva encontrada</p>
  <% end %>
  <%= render 'bookings/bookings', bookings: @bookings%>
</article>