<% if instance_model.images.attached? %>
  <section>
    <h3>Fotos</h3>

    <ul>
      <% instance_model.images.each do |image| %>
        <li><%= image_tag image, width: '300', alt: "inn outside overview" %></li>
      <% end %>
    </ul>
  </section>

  <hr>
<% end %>