<h2>Sejam bem vindos(as) ao Pousada App</h2>
<p>Aqui você encontrará as melhores pousadas para sua acomodação!</p>

<section aria-label="Algumas Pousadas">
  <% @guesthouses.each do |gh| %>
    <dl>
      <dt><h4><%= gh.brand_name %></h4></dt>
      <!-- Address.states[gh.address.state] gets the value of a key-value pair of an enum datatype -->
      <dd><%= gh.address.city %> - <%= gh.address.state %></dd>
    </dl>
  <% end %>

  <% if @guesthouses.empty? %>
    <p>Nenhuma pousada cadastrada</p>
  <% end %>
</section>
