<section>
  <h2>Editar Quarto</h2>

  <%= render "form", room: @room, guesthouse: @guesthouse %>

    <p>
      <%= link_to "Mostre esse Quarto", guesthouse_room_path(@guesthouse, @room) %> |
    </p>
</section>
