<section>
  <h2>Detalhes</h2>

  <%= render 'room', room: @room, guesthouse: @guesthouse  %>

  <div>
    <%= link_to 'Editar Quarto', edit_guesthouse_room_path(@guesthouse, @room) %>
    <%= link_to "Voltar", guesthouse_rooms_path(@guesthouse) %>
  </div>

</section>
