<article>
  <h2>Editar Diária por Período</h2>

  <%= render "form", room_rate: @room_rate, room: @room, guesthouse: @guesthouse %>

  <br>

  <div>
    <%= link_to "Voltar para o Quarto", guesthouse_room_path(@guesthouse, @room) %>
  </div>

</article>